h1 {
  background-color: burlywood;
  border: 1px solid black;
  width: 300px;
  padding: 50px;
  margin: 100px;
}

span {
  background-color: cornflowerblue;
  border: 1px solid;
  width: 10px;
}

div{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    border: 5px solid black;
   display: inline-block;
}


#eJOY__extension_ai_adv_root {
    display: none;
  }