<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lad_4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/Lad_4/libs/angularjs.min.js"></script>
    <script src="caculate.js"></script>

</head>

<body ng-app="myApp" class="container">
    <div ng-controller="nameCtrl">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Chiều dài</label>
                <input ng-model="length" type="text" class="form-control" required id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Chiều rộng</label>
                <input ng-model="width" type="text" class="form-control" required id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Diện tích</label>
                <input value={{acreage}} type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Chu Vi</label>
                <input value={{perimeter}} type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <hr>
            <button ng-click="caculate()" type="submit" class="btn border">Caculator</button>
        </form>
    </div>
</body>

</html>