<main>
  <br/>
<center style="color: navy;"><b><h4>{{title}}</h4></b></center>
    <div class="form-group">
        <div class="row">
            <aside class="col-7">
                <i style="color: brown;">Không chỉ nhận yêu cầu đặt phòng trực tiếp tại quầy, lễ tân khách sạn cũng hàng ngày tiếp nhận đặt phòng qua điện thoại. Vậy nên hỏi gì, nói gì theo quy trình nhận đặt phòng qua điện thoại? Bài viết này, Hoteljob.vn xin chia sẻ một kịch bản mẫu quy trình nhận đặt phòng khách sạn qua điện thoại chi tiết để bạn tham khảo!</i>
                <img src="images/goidien.jpg" width="600" height="400"> <br/>
                <em>Bạn đã biết nên hỏi gì, nói gì trong quy trình nhận đặt phòng khách sạn qua điện thoại?</em>
                <h4 style="color: red;">{{leTan}}</h4>
                <p>Để làm hồ sơ đặt phòng khách sạn, nhân viên lễ tân phải lấy đầy đủ các thông tin liên quan của khách như sau:</p>
                <ul>
                    <li>Tên khách/ tên đoàn khách/ tên người đăng ký</li>
                    <li>Địa chỉ, số điện thoại, số fax (kể cả mã vùng), email của khách</li>
                    <li>Số lượng khách cùng đi trong đoàn/ khách thuê phòng</li>
                    <li>Ngày giờ đến và số đêm lưu trú</li>
                    <li>Số lượng phòng và loại phòng</li>
                    <li>Giá phòng và hình thức thanh toán</li>
                    <li>Loại đặt phòng (đảm bảo hay không đảm bảo)</li>
                    <li>Các yêu cầu khác của khách (nếu có)</li>
                </ul>
                <h4 style="color: red;">{{kichBan}}</h4>
                <p>Tùy vào quy định tại mỗi khách sạn sẽ có câu chào hỏi và một số quy trình bổ sung hoặc rút gọn. Tuy nhiên, dù tiếp nhận và trả lời cuộc gọi đặt 
                  phòng từ khách hàng như thế nào, nhân viên lễ tân cũng phải đảm bảo nắm được những thông tin bắt buộc như trên và “chốt” phòng cho khách. Dưới đây là kịch bản mẫu quy trình nhận đặt phòng khách sạn qua 
                  điện thoại chuẩn mà Hoteljob.vn xin chia sẻ để bạn tham khảo và áp dụng cho phù hợp.</p>          
                  <div class="row">
                    <div class="col">
                      <div class="row my-3">
                        <div class="col related-products">
                          <h3 style="color: red;">{{monAn}}</h3>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col">
                        <img src="images/buasang.jpg" width="300" class="img-thumbnail">
                        <img src="images/phoVN.jpg"width="300" class="img-thumbnail">
                        <img src="images/monAN.jpg"width="300" class="img-thumbnail">
                        <img src="images/monAnSang.jpg"width="300" class="img-thumbnail">
                      </div>
                      </div>
                    </div>
                </aside>
                <br/>
            <article class="col-md-5">
                <div class="col-md-7">
                  </div>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                    <div class="card-header">
                        <i class="fa-solid fa-list"></i>
                    <h3>MỤC LỤC</h3>
                    </div>
                      <ul class="list-group">
                        <li class="list-group-item"><b style="color: orange;">1.</b><i> Lễ tân cần lấy thông tin gì từ khách hàng để đặt phòng khách sạn?</i></li>
                        <li class="list-group-item"><b style="color: orange;">2.</b><i> Kịch bản mẫu quy trình nhận đặt phòng khách sạn qua điện thoại</i></li>
                        <li class="list-group-item">Bước 1: Trả lời điện thoại theo quy chuẩn khách sạn và hỏi tên khách hàng</li>
                        <li class="list-group-item">Bước 2: Xác định yêu cầu của khách về thời gian lưu trú</li>
                        <li class="list-group-item">Bước 3: Xác định yêu cầu của khách về số người lưu trú</li>
                        <li class="list-group-item">Bước 4: Xác định yêu cầu của khách về số lượng phòng</li>
                        <li class="list-group-item">Bước 5: Xác định yêu cầu của khách về loại phòng, hạng phòng</li>
                        <li class="list-group-item">Bước 6: Nhắc lại yêu cầu của khách</li>
                        <li class="list-group-item">Bước 7: Hỏi thông tin liên lạc của khách</li>
                        <li class="list-group-item">Bước 8: Điền thông tin vào phiếu đặt phòng</li>
                        <li class="list-group-item">Bước 9: Kết thúc cuộc gọi</li>
                        <li class="list-group-item"><b style="color: orange;">3.</b><i> Một số lưu ý khi tiếp nhận đặt phòng qua điện thoại</i></li>
                      </ul>
                      <br/>
                      <br/>
                  <br/>
                  <br/>
                      <div class="row">
                        <img src="images/anh8.jpg" width="1600px" height="300px" class="col-sm-12" >
                        <div class="col-md-12">
                          <ul>
                            <h6>Khách sạn Hoàng Sơn Peace còn đưa vào khai thác rất nhiều các dịch vụ tiện ích khác như:</h6>
                            <li>Tổ chức các tour du lịch trong và ngoài nước </li>
                            <li>Cho thuê hướng dẫn viên du lịch</li>
                            <li>Tổ chức sự kiện - hội nghị - đám cưới trọn gói</li>
                            <li>Bar - café</li>
                            <li>Bể bơi</li>
                            <li>Phòng karaoke </li>
                            <li>Cho thuê xe du lịch các loại </li>
                            <li>Dịch vụ chuyển đồ</li>
                            <li>Dịch vụ dọn phòng </li>
                            <li>Dịch vụ giặt là …</li>
                          </ul>
                        </div>
                      </div>
               </div>  
            </article>
            <div class="form-group">
              <center><h3 style="color: red;">{{anh}}
               
              </h3></center>
            </div>
          </div>
          <div id="productCarouselID" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#productCarouselID" data-slide-to="0" class="active"></li>
              <li data-target="#productCarouselID" data-slide-to="1"></li>
              <li data-target="#productCarouselID" data-slide-to="2"></li>
              <li data-target="#productCarouselID" data-slide-to="3"></li>
              <li data-target="#productCarouselID" data-slide-to="4"></li>
              <li data-target="#productCarouselID" data-slide-to="5"></li>
              <li data-target="#productCarouselID" data-slide-to="6"></li>
              <li data-target="#productCarouselID" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner " role="listbox">
              <div class="carousel-item active">
                <center><img src="images/anh7.jpg"
                alt="First slide" height="600px" width="1000"> </center>
              </div>
              <div class="carousel-item">
                <center><img src="images/anh8.jpg"
                alt="Second slide" height="600px" width="1000"> </center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh6.jpg"
                alt="Third slide" height="600px" width="1000"></center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh4.jpg"
                alt="Fourth slide" height="600px" width="1000"></center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh5.jpg"
                alt="Fifth slide" height="600px" width="1000"></center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh6.jpg"
                alt="Friday slide" height="600px" width="1000"></center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh1.jpg"
                alt="Saturday Slides" height="600px" width="1000"></center>
              </div>
              <div class="carousel-item">
                <center> <img src="images/anh3.jpg"
                alt="Eighth slide" height="600px" width="1000"></center>
              </div>
              
          </div>
    </div>
</main>